<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Board Form</title>
    <div th:replace="layout/css::css"></div>
</head>
<body>
<div th:replace="layout/header::header"></div>

<div class="container">
    <div class="row justify-content-center">
        <h1>게시글 목록</h1>
    </div>
    <div class="row float-right">
        <a class="btn btn-primary btn-sm" href="/board/list/item/" role="button">등록</a>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" style="width: 60%" >제목</th>
            <th scope="col">Date</th>
            <th scope="col">수정</th>
            <th scope="col">삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boardList}">
            <td th:text="${board.idx}"></td>
            <td><a th:href="'/board/list/item/'+${board.idx}" th:text="${board.title}"></a></td>
            <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd')}"></td>
            <td><a href="#" class="btn btn-info btn-sm">수정</a></td>
            <td><a href="#" class="btn btn-danger btn-sm">삭제</a></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center"
            th:with="startNumber=${T(Math).floor(boardList.number/10)}*10+1, endNumber=(${boardList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${boardList.totalPages}">
            <li class="page-item"><a class="page-link" href="/board/list?page=1">&laquo;</a></li>
            <li class="page-item" th:style="${boardList.first} ? 'display:none'">
                <a class="page-link" th:href="@{/board/list(page=${boardList.number})}">&lsaquo;</a>
            </li>

            <li class="page-item" th:each="page :${#numbers.sequence(startNumber, endNumber)}"
                th:class="(${page} == ${boardList.number}+1) ? 'active'">
                <a class="page-link" th:href="@{/board/list(page=${page})}" th:text="${page}"><span
                        class="sr-only"></span></a>
            </li>

            <li class="page-item" th:style="${boardList.last} ? 'display:none'">
                <a class="page-link" th:href="@{/board/list(page=${boardList.number}+2)}">&rsaquo;</a>
            </li>
            <li class="page-item"><a class="page-link" aria-label="Next"
                                     th:href="@{/board/list(page=${boardList.totalPages})}">&raquo;</a></li>
        </ul>
    </nav>
</div>

</body>
</html>